@import './base.css';
@import "tailwindcss";
@import "@nuxt/ui";

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

.monaco-editor .suggest-widget {
  width: 250px !important;
}

.ͼo .cm-scroller::-webkit-scrollbar-corner {
  background-color: #252a33;
}

a,
.green {
  /* text-decoration: none; */
  /* color: hsla(160, 100%, 37%, 1); */
  color: rgb(236, 95, 103);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: hsla(350, 88%, 66%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
/* } */
